@model IEnumerable<API.ViewModels.SubmissionAF>

@{
    ViewData["Title"] = "GetSubmission";
    Layout = "_EmployeeLayout";
}



<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Get Submission</h4>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary add-expense" data-toggle="modal" data-target="#exampleModal" onclick="Create()"> New Submission </button>
        </div>

        <table class="table table-hover dt-responsive table-striped nowarp" id="dataTableGetSubmissionEmployee" style="width:100%">
            <thead class="table-active head-table text-center">
                <tr class="bg-primary column-tab">
                    <th scope="col" class="text-light text-center">Asset Code</th>
                    <th scope="col" class="text-light text-center">Asset Name</th>
                    <th scope="col" class="text-light text-center">Volume</th>
                    <th scope="col" class="text-light text-center">Status</th>
                    <th scope="col" class="text-light text-center">Years of Submission</th>
                    <th scope="col" class="text-light text-center">Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Form-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Submission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="AssetCode">Asset Code</label>
                        <input type="text" class="form-control" id="AssetCode">
                    </div>
                    <div class="form-group">
                        <label for="AssetName">Asset Name</label>
                        <input type="text" class="form-control" id="AssetName">
                    </div>
                    <div class="form-group">
                        <label for="Volume">Volume</label>
                        <input type="number" class="form-control" id="Volume">
                    </div>
                    <div class="form-group">
                        <label for="Prize">Prize</label>
                        <span class="input-group-text">Rp.</span>
                        <input type="number" class="form-control" id="Prize">
                    </div>
                    <div class="form-group">
                        <label for="AssetCategory">Asset Category</label>
                        <input type="number" class="form-control" id="AssetCategory">
                    </div>
                    <div class="form-group">
                        <label for="AssetLocation">Asset Location</label>
                        <input type="number" class="form-control" id="AssetLocation">
                    </div>
                    <div class="form-group">
                        <label for="Years">Years Of Submission</label>
                        <input type="number" class="form-control" id="Years">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" id="buttonAdd" />
                    </div>
                </form>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-primary" id="buttonAdd">Submit</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailModal">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Detail">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/SubmissionEmployee/Submission.js"></script>
}

