@model IEnumerable<API.ViewModels.SubmissionAF>

@{
    ViewData["Title"] = "GetSubmission";
    Layout = "_EmployeeLayout";
}



<div class="container-fluid">
    <div class="card" style="padding:2em">
        <div class="card-body">
            <h1 align="center">Asset Submission Data</h1>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary add-expense" data-toggle="modal" data-target="#exampleModal" onclick="Create()"> New Submission </button>
        </div>

        <table class="table table-hover dt-responsive table-striped nowarp" id="dataTableGetSubmissionEmployee" style="width:100%">
            <thead class="table-active head-table text-center">
                <tr class="bg-primary column-tab">
                    <th scope="col" class="text-light text-center">Asset Code</th>
                    <th scope="col" class="text-light text-center">Asset Name</th>
                    <th scope="col" class="text-light text-center">Volume</th>
                    <th scope="col" class="text-light text-center">Status</th>
                    <th scope="col" class="text-light text-center">Years of Submission</th>
                    <th scope="col" class="text-light text-center">Action</th>
                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Form-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Submission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Asset Code Description :</h5>
                <ul>
                    <li>0000 = Asset Code (0001/0002/0003..dst)</li>
                    <li>CTG = Asset Category(ELK,BHP,FRT,dll)</li>
                    <li>LOC = Asset Location(Barcelona,Amsterdam,dll)</li>
                    <li>20XX = Years Of Submission</li>
                </ul>
                <form>
                    <div class="form-group">
                        <label for="AssetCode">Asset Code</label>
                        <input type="text" class="form-control" id="AssetCode" placeholder="0000CTGLOC20XX" required>
                    </div>
                    <div class="form-group">
                        <label for="AssetName">Asset Name</label>
                        <input type="text" class="form-control" id="AssetName" required>
                    </div>
                    <div class="form-group">
                        <label for="Volume">Volume</label>
                        <input type="number" class="form-control" id="Volume" required>
                    </div>
                    <div class="form-group">
                        <label for="Prize">Prize/pcs</label>
                        <input type="number" class="form-control" id="Prize" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group">
                        <label for="AssetCategory">Asset Category</label>
                        <select class="custom-select" id="AssetCategoryoption" aria-label="Example select with button addon">
                            <option selected>----Choose----</option>
                        </select>

                        @*<input type="number" class="form-control" id="AssetCategory">*@
                    </div>
                    <div class="form-group">
                        <label for="AssetLocation">Asset Location</label>
                        <select class="custom-select" id="AssetLocation" aria-label="Example select with button addon">
                            <option selected>----Choose----</option>
                        </select>
                        @*<input type="number" class="form-control" id="AssetLocation">*@
                    </div>
                    <div class="form-group">
                        <label for="Years">Years Of Submission</label>
                        <select class="custom-select" id="Years" aria-label="Example select with button addon">
                            <option selected>----Choose----</option>
                        </select>
                        @*<input type="number" class="form-control" id="Years">*@
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" id="buttonAdd" />
                    </div>
                    @*<div class="form-group">
                <input type="submit" value="Close" class="btn btn-secondary" id="Close" />
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>*@
                </form>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-primary" id="buttonAdd">Submit</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailModal">Asset Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Detail">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/SubmissionEmployee/Submission.js"></script>
}

