@{
    ViewData["Title"] = "Register";
    Layout = "_FinanceLayout";
}
<div class="container-fluid">
    <div class="card" style="padding:2em">
        <h5 class="title">Change Password</h5>
        <form>
            <div class="form-group">
                <label for="OldPass">Old Password</label>
                <input type="password" class="form-control" id="OldPass">
            </div>
            <div class="form-group">
                <label for="NewPass">New Password</label>
                <input type="password" class="form-control" id="NewPass">
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" id="buttonAdd" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{

    <script src="~/js/ChangePass/ChangePass.js"></script>
}